body {
    padding: 0px 0px;
    margin: 0px 0px;
}

header, .instructions {
    padding: 0px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

header .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin: 0 16px;
}

header .links a:hover {
    opacity: .8;
    color: darkgray
}

.instructions p {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.score-board {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
}

.score, .round {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 0px 16px;
    padding: 4px 8px;
}

.game-log p {
    text-align: center;
}